* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    list-style-type: none;
    font-family: Arial, Helvetica, sans-serif;
}


header {
    width: 100%;
    height: 120px;
    border: 1px solid black;
    background-color: #FFFFFF;
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.head-logo {
    width: 12%;
    height: 50px;
}

.img {
    width: 100%;
    height: 100%;
    background-image: url("../images/logo2.PNG");
    background-size: cover;
}

.head-nav {
    width: 60%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.head-nav>ul {
    width: 20%;
    height: 30px;
    font-family: Gilroy;
    font-size: 17px;
    font-weight: 500;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;
    text-align: center;
    padding: 5px;
}
.help-but{
    width: 20%;
    height: 40px;
    border-radius: 6px;
    background-color:#75BF7A;
    color: #FFFFFF;
    padding: 10px;
    text-align: center;
}